.navbar{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 2px red solid;
}
.logo-box{
    display: flex;
    align-self: center;
    border: 2px red solid;
    width: auto;
}
.navbar-menu{
    border: 2px royalblue solid;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 100%;
    align-content: center;
    

}

li{
    display: flex;
    list-style-type: none;
    border: 2px yellow solid;
    margin-right: 4em;
    font-size: 16px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

}